name: build

on:
  push:

jobs:

  unit_tests:

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Run unit tests for Circle
        run: python -m unittest Circle/test_circle.py

      - name: Run unit tests for Rectangle
        run: python -m unittest Rectangle/test_rectangle.py

      - name: Run unit tests for Square
        run: python -m unittest Square/test_square.py

      - name: Run unit tests for Triangle
        run: python -m unittest Triangle/test_triangle.py
